<a href="https://colab.research.google.com/github/francianerod/Projeto-Alerta-Raios/blob/main/6_Alerta_Raios_Transforma%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Código feito por:** Franciane Rodrigues

**Empresa:** EPL Informática Ltda

**Área/Setor:** Operacional/Pesquisa e Desenvolvimento

**Motivo do código:** Transformação de dados

## **1) Abertura do drive e bibliotecas**

In [1]:
# Comando de abertura para Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Abertura de bibliotecas
import pandas as pd
from datetime import datetime

## **2) Abertura e organização de dados principais**

In [3]:
# Abertura e organização dos dados
df = pd.read_csv('/content/drive/MyDrive/Artigo Moacir/Dados/dados_fevereiro/dados_23_02_2022.csv')

# Transformação de timestamp e separando informações de data e hora
df['datahora'] = pd.to_datetime(df['timestamp'], unit='s')
df['Data'] = df['datahora'].dt.strftime('%Y-%m-%d')
df['Hora'] = df['datahora'].dt.strftime('%H:%M:%S')

# Apagando colunas 
del df['timestamp']
del df['datahora']

# Organizando  colunas
df = df[['Data', 'Hora','CampbellUSP01', 'CampbellUSP02', 'CampbellUSP03', 'FieldMilkUSP01']]

# Mostrar as duas primeiras observações
df.head()

,Data,Hora,CampbellUSP01,CampbellUSP02,CampbellUSP03,FieldMilkUSP01
0,2022-02-23,00:00:00,-21.56342,10.44116,-0.286525,-2429.0
1,2022-02-23,00:00:01,-21.56342,10.44116,-0.859576,-2429.0
2,2022-02-23,00:00:02,-21.27202,10.44116,-1.146103,-2429.0
3,2022-02-23,00:00:03,-21.56342,11.31126,-0.859576,-2429.0
4,2022-02-23,00:00:04,-21.27202,12.18136,-0.286525,-2429.0

# **3) Separação e transformação dos dados para ser lidos em software específico.**

In [4]:
# Modelo de dados lidos no software
# 0002,090000.663,A,2030.1996,S,05436.6761,W,050415,549.5,-151 
# ID,hhmmss.fff,A,latitude,S,longitude,W,data,altitude,campo 
# 0 ,    1     ,2,   3    ,4,    5    ,6,  7 ,   8    ,   9

**3.1 CampbellUSP01**

In [5]:
# Separação de dados: sensor CampbelUSP01 com ID 0001
camp0001 = df[['Data', 'Hora','CampbellUSP01']]

# Inserindo valores nas colunas
camp0001.insert(0, "ID", '0001')
camp0001.insert(2, "A", 'A')
camp0001.insert(3, "Lat", '2355.9279')
camp0001.insert(4, "S", 'S')
camp0001.insert(5, "Lon", '4673.3493')
camp0001.insert(6, "W", 'W')
camp0001.insert(8, "Alt", '772')

# Organizando  colunas
camp0001 = camp0001[['ID', 'Hora', 'A','Lat','S','Lon','W','Data','Alt', 'CampbellUSP01']]

# Transformações necessárias nas informações de hora e data (para facilidar elas foram tratadas como string) 
camp0001['Hora'] = camp0001['Hora'].str.replace(':','')
camp0001['Data'] = camp0001['Data'].str.replace('-','')
camp0001['Data'] = camp0001['Data'].str.replace('2022','22')
camp0001['Hora'] = camp0001['Hora'].astype(str)+'.663'

# Retirando linhas vazias
camp0001 = camp0001.dropna()

#Aparecer as primeiras linhas do dataset
camp0001.head()

camp0001.to_csv(r'/content/drive/MyDrive/Artigo Moacir/Dados/dados_exp_fev/0001.txt', 
                header=None, 
                index=None, 
                sep=',', 
                mode='a')

**3.2 CampbellUSP02**

In [6]:
# Separação de dados: sensor CampbelUSP02 com ID 0002
camp0002 = df[['Data', 'Hora','CampbellUSP02']]

# Inserindo valores nas colunas
camp0002.insert(0, "ID", '0002')
camp0002.insert(2, "A", 'A')
camp0002.insert(3, "Lat", '2356.9211')
camp0002.insert(4, "S", 'S')
camp0002.insert(5, "Lon", '4674.1043')
camp0002.insert(6, "W", 'W')
camp0002.insert(8, "Alt", '772')

# Organizando  colunas
camp0002 = camp0002[['ID', 'Hora', 'A','Lat','S','Lon','W','Data','Alt', 'CampbellUSP02']]

# Transformações necessárias nas informações de hora e data (para facilidar elas foram tratadas como string) 
camp0002['Hora'] = camp0002['Hora'].str.replace(':','')
camp0002['Data'] = camp0002['Data'].str.replace('-','')
camp0002['Data'] = camp0002['Data'].str.replace('2022','22')
camp0002['Hora'] = camp0002['Hora'].astype(str)+'.663'

# Retirando linhas vazias
camp0002 = camp0002.dropna()

# Exportar arquivo em Pasta
camp0002.to_csv(r'/content/drive/MyDrive/Artigo Moacir/Dados/dados_exp_fev/0002.txt', 
                header=None, 
                index=None, 
                sep=',', 
                mode='a')

**3.3 CampbellUSP03**

In [7]:
# Separação de dados: sensor CampbelUSP03 com ID 0003
camp0003 = df[['Data', 'Hora','CampbellUSP03']]

# Inserindo valores nas colunas
camp0003.insert(0, "ID", '0003')
camp0003.insert(2, "A", 'A')
camp0003.insert(3, "Lat", '2355.1097')
camp0003.insert(4, "S", 'S')
camp0003.insert(5, "Lon", '4673.2021')
camp0003.insert(6, "W", 'W')
camp0003.insert(8, "Alt", '772')

# Organizando  colunas
camp0003 = camp0003[['ID', 'Hora', 'A','Lat','S','Lon','W','Data','Alt', 'CampbellUSP03']]

# Transformações necessárias nas informações de hora e data (para facilidar elas foram tratadas como string) 
camp0003['Hora'] = camp0003['Hora'].str.replace(':','')
camp0003['Data'] = camp0003['Data'].str.replace('-','')
camp0003['Data'] = camp0003['Data'].str.replace('2022','22')
camp0003['Hora'] = camp0003['Hora'].astype(str)+'.663'

# Retirando linhas vazias
camp0003 = camp0003.dropna()

# Exportar arquivo em Pasta
camp0003.to_csv(r'/content/drive/MyDrive/Artigo Moacir/Dados/dados_exp_fev/0003.txt', 
                header=None, 
                index=None, 
                sep=',', 
                mode='a')

**3.4 FieldMilkUSP01**

In [8]:
# Separação de dados: sensor FieldMilkUSP01 com ID 0004
fmilk0004 = df[['Data', 'Hora','FieldMilkUSP01']]

# Inserindo valores nas colunas
fmilk0004.insert(0, "ID", '0001')
fmilk0004.insert(2, "A", 'A')
fmilk0004.insert(3, "Lat", '2356.1618')
fmilk0004.insert(4, "S", 'S')
fmilk0004.insert(5, "Lon", '4675.6545')
fmilk0004.insert(6, "W", 'W')
fmilk0004.insert(8, "Alt", '772')

# Organizando  colunas
fmilk0004 = fmilk0004[['ID', 'Hora', 'A','Lat','S','Lon','W','Data','Alt', 'FieldMilkUSP01']]

# Transformações necessárias nas informações de hora e data (para facilidar elas foram tratadas como string) 
fmilk0004['Hora'] = fmilk0004['Hora'].str.replace(':','')
fmilk0004['Data'] = fmilk0004['Data'].str.replace('-','')
fmilk0004['Data'] = fmilk0004['Data'].str.replace('2022','22')
fmilk0004['Hora'] = fmilk0004['Hora'].astype(str)+'.663'

# Retirando linhas vazias
fmilk0004 = fmilk0004.dropna()

#Aparecer as primeiras linhas do dataset
fmilk0004.head()

fmilk0004.to_csv(r'/content/drive/MyDrive/Artigo Moacir/Dados/dados_exp_fev/0004.txt', 
                header=None, 
                index=None, 
                sep=',', 
                mode='a')

## **5) Verificação da quantidade de observações**

In [9]:
# Quantidade de dados
camp0001.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85852 entries, 0 to 86399
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             85852 non-null  object
 1   Hora           85852 non-null  object
 2   A              85852 non-null  object
 3   Lat            85852 non-null  object
 4   S              85852 non-null  object
 5   Lon            85852 non-null  object
 6   W              85852 non-null  object
 7   Data           85852 non-null  object
 8   Alt            85852 non-null  object
 9   CampbellUSP01  85852 non-null  float64
dtypes: float64(1), object(9)
memory usage: 7.2+ MB

In [10]:
# Quantidade de dados
camp0002.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85384 entries, 0 to 86399
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             85384 non-null  object
 1   Hora           85384 non-null  object
 2   A              85384 non-null  object
 3   Lat            85384 non-null  object
 4   S              85384 non-null  object
 5   Lon            85384 non-null  object
 6   W              85384 non-null  object
 7   Data           85384 non-null  object
 8   Alt            85384 non-null  object
 9   CampbellUSP02  85384 non-null  float64
dtypes: float64(1), object(9)
memory usage: 7.2+ MB

In [11]:
# Quantidade de dados
camp0003.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85488 entries, 0 to 86399
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             85488 non-null  object
 1   Hora           85488 non-null  object
 2   A              85488 non-null  object
 3   Lat            85488 non-null  object
 4   S              85488 non-null  object
 5   Lon            85488 non-null  object
 6   W              85488 non-null  object
 7   Data           85488 non-null  object
 8   Alt            85488 non-null  object
 9   CampbellUSP03  85488 non-null  float64
dtypes: float64(1), object(9)
memory usage: 7.2+ MB

In [12]:
# Quantidade de dados
fmilk0004.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86400 entries, 0 to 86399
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              86400 non-null  object
 1   Hora            86400 non-null  object
 2   A               86400 non-null  object
 3   Lat             86400 non-null  object
 4   S               86400 non-null  object
 5   Lon             86400 non-null  object
 6   W               86400 non-null  object
 7   Data            86400 non-null  object
 8   Alt             86400 non-null  object
 9   FieldMilkUSP01  86400 non-null  float64
dtypes: float64(1), object(9)
memory usage: 7.3+ MB

**BÔNUS - INFORMAÇÕES ADICIONAIS**

**Informações dos sensores:**

**CampbelUSP01**
*   ID: 0001
*   Latitude: -23.559279
*   Longitude: -46.733493
*   Altitude: 772 m

**CampbelUSP02**
*   ID:0002
*   Latitude:-23.569211
*   Longitude: -46.741043
*   Altitude: 772 m

**CampbelUSP03**
*   ID: 0003
*   Latitude: -23.551097
*   Longitude: -46.732021
*   Altitude: 772 m

**FieldMilkUSP01**
*   ID: 0004
*   Latitude: -23.561618
*   Longitude: -46.756545
*   Altitude: 772 m

Altitude de São Paulo informada aqui: https://pt.wikipedia.org/wiki/S%C3%A3o_Paulo

In [13]:
# Transformar timestamp - teste
timestamp = 1636329600
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 2021-11-08 00:00:00
type(dt_object) = <class 'datetime.datetime'>

In [14]:
# Retirar : de uma string - Teste
string="00:00:01"
print("String original é:")
print(string)

string_trans=string.replace(":","")
print("String transformada é:")
print(string_trans)

String original é:
00:00:01
String transformada é:
000001